:root{
    --primary-color:#a21caf;
    --secondar-color:#b19baf;
    --third-color:rgba(187, 17, 156, 0.829);

}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
.primary{
    color: var(--primary-color);
    font-size: large;
}

.secondary{
    color:var(--third-color);
    font-size: large;
}
.btnOne{
    background-color: var(--primary-color);
    padding: 1rem 1rem;
    color: aliceblue;
    border-radius: 0.5rem 0.5rem;
    cursor: pointer;
}

.btnTwo{
    background-color:whitesmoke;
    padding: 1rem 1rem;
    cursor: pointer;
    border-radius: 0.5rem 0.5rem;
}